@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <br />
    <p class="lead">Sistema de controle de agendamento de consultas.</p>

</div>